{% load video_tag %}
{% load static %}
{% load thumbnail %}

{% for item in comments %}
    <div class="comment" comment-id="{{ item.id }}">
        <a class="avatar">

            {% thumbnail item.avatar "200x200" crop="center" as im %}
            <img class="ui avatar image" src="{{ im.url }}">
            {% empty %}
            <img class="ui avatar image" src="{% static 'img/img_default_avatar.png' %}">
            {% endthumbnail %}

        </a>
        <div class="content">
            <a class="author">
                {% if item.nickname %} {{item.nickname}} {% else %} 匿名 {% endif %}
            </a>
            <div class="metadata">
                <span class="date">{{ item.timestamp|time_since }}</span>
            </div>
            <div class="text">
                {{ item.content }}
            </div>
            <div class="actions">
                <a class="reply-button" data-reply-to="{{ item.nickname }}" data-reply-to-id="{{ item.user_id }}">回复</a>
            </div>
        </div>
    </div>
{% endfor %}