{% extends 'base/base.html' %}
{% load static %}
{% load video_tag %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dropload.css' %}">
<style>
    .danmaku-container {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
        background-color: #000;
    }
    .danmaku {
        position: absolute;
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
        z-index: 10;
        animation: scroll 10s linear infinite;
    }
    @keyframes scroll {
        from { right: -100%; }
        to { right: 100%; }
    }
    .danmaku-input {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        z-index: 20;
    }
    .reply-form {
        margin-top: 10px;
        display: none;
    }
    .reply-list {
        margin-left: 40px;
        margin-top: 10px;
    }
</style>
{% endblock css %}

{% block content %}
<div class="ui unstackable two column grid">
    <div class=" ten wide column">
        <div class="danmaku-container">
            <video class="video" autoplay="autoplay" controls="controls" controlslist="nodownload" disablePictureInPicture style="width: 100%; height: 100%;">
                <source src="{{ video.file.url }}" type="video/mp4">
            </video>
            <div id="danmaku_list"></div>
            <div class="danmaku-input">
                {% if user.is_authenticated %}
                <form class="ui form" id="danmaku_form" method="post" action="{% url 'comment:submit_danmaku' %}">
                    {% csrf_token %}
                    <input type="hidden" name="video_id" value="{{ video.id }}">
                    <div class="field">
                        <input type="text" name="content" placeholder="输入弹幕内容..." id="danmaku_content">
                    </div>
                    <button class="ui primary button" type="submit">发送弹幕</button>
                </form>
                {% else %}
                <div class="ui info message">
                    <p>登录后即可发送弹幕 &nbsp;&nbsp;&nbsp;<a href="{% url 'users:login' %}?next={{ request.path }}">马上登录</a></p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="video-info">
            <div class="video-title">{{ video.title }}</div>
            <div class="video-view-count">{{ video.view_count }}次观看</div>
            <div class="video-view-operation">
                {{video.desc}}
            </div>
            <div class="extra content video-view-operation">
                <span class="left floated like">
                    <i class="like {%  user_liked_class video user %} icon cursor" id="like"
                       video-id="{{ video.id }}"></i>
                    <span id="like-count">{{ video.count_likers }}</span>
                </span>
                <span class="right floated star">
                    <i class="bookmark {%  user_collected_class video user %}  icon cursor" id="star"
                       video-id="{{ video.id }}"></i>
                    <span id="collect-count">{{ video.count_collecters }}</span>
                </span>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="ui comments">
            {% if user.is_authenticated %}
            <form class="ui reply form" id="comment_form" method="post"
                  action="{% url 'comment:submit_comment' video.pk %}">
                {% csrf_token %}
                <div class="field">
                    {{form.content}}
                    <input type="hidden" value="{{ video.id }}" name="video_id">
                </div>
                <button class="ui primary button" type="submit">
                    添加评论
                </button>
                <div class="ui info message n">
                    <div class="item" id="comment-result"></div>
                </div>
            </form>
            {% else %}
            <div class="ui ignored info attached message">
                <p>登录后即可评论 &nbsp;&nbsp;&nbsp;<a href="{% url 'users:login' %}?next={{ request.path }}">马上登录</a></p>
            </div>
            {% endif %}
            <h3 class="ui dividing header" id="id_comment_label">评论</h3>
            <div class="comment-list"></div>
        </div>
    </div>
    <div class="six wide column">
        {% include "video/recommend.html" %}
        {% include "video/ad.html" %}
    </div>
</div>
{% endblock content %}

{% block javascript %}

<script>
var comments_url = "{% url 'comment:get_comments' %}"
var video_id = {{ video.id }}
var danmakus_url = "{% url 'comment:get_danmakus' %}"
var submit_reply_url = "{% url 'comment:submit_reply' %}"
var submit_danmaku_url = "{% url 'comment:submit_danmaku' %}"
var get_replies_url = "{% url 'comment:get_replies' %}"
</script>

<script src="{% static 'js/dropload.js' %}"></script>
<script src="{% static 'js/load_comments.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>
<script src="{% static 'js/danmaku.js' %}"></script>
<script src="{% static 'js/reply.js' %}"></script>
{% endblock javascript %}
 
